# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
.genkit/servers/tools-13911.json
.genkit/traces/0da272699b183666a8ef507c09303875
.genkit/traces/8bd6c97a6f2b5ad9742fcb213635e45a
.genkit/traces/85d4657e3fbbc825978cc85bf3ed18b7
.genkit/traces/86def6336cf7231c48134544c3f215ce
.genkit/traces/f497656e42b42872c78c40e380fe200b
.genkit/traces_idx/genkit.metadata
.genkit/traces_idx/idx_00001750975891689.json
pglite-debug.log
.firebase/logs/vsce-debug.log
firebase-debug.log
